* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background-color: black;
}

.App {
  background-color: white;
  width: 414px;
  height: 847px;
  overflow: scroll;
  /* padding: 30px; */
  /* height: auto; */
}

img {
  height: 50px;
}

/* =========================== NAV ===========================*/

nav {
  position: fixed;
  top: 780px;
  text-align: center;
  background-color: #ffca41;
  padding: 7px 0;
  width: 414px;
}
