* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background-color: black;
}

.App {
  background-color: white;
  width: 414px;
  padding: 30px;
  height: auto;
}

img {
  width: 100%;
}
