@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  font-family: "Roboto Slab", serif;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background-color: #ffca41;
  padding: 5px;
}

h1::after {
  content: url("./Images/Logo.svg");
}

.App {
  width: 414px;
}
